# Lista 01
# Aluno: Jeferson Aires de Sousa    
# Matrícula: 540428

In [23]:
import pandas as pd

### Carregando o arquivo CSV

In [2]:
df = pd.read_csv('vendas.csv')
df

           Data    Produto  Quantidade  Preco_Unitario
0    14/02/2023  Produto C           2           13.04
1    17/02/2023  Produto D          19           17.46
2    06/03/2023  Produto C           1           78.92
3    09/03/2023  Produto D          12           85.82
4    09/03/2023  Produto A          19           42.69
..          ...        ...         ...             ...
495  16/02/2023  Produto B          12           95.08
496  01/01/2023  Produto A           4           43.42
497  21/02/2023  Produto D           8           70.82
498  08/02/2023  Produto A          19           92.41
499  31/03/2023  Produto A           9           18.56

[500 rows x 4 columns]

### Calculando o total de vendas por Produtos

In [ ]:
# Criando a nova coluna Total_Venda com a multiplicação da coluna Quantidade pela coluna Preco_Unitario
df['Total_Venda'] = df['Quantidade'] * df['Preco_Unitario']
df

# Agrupando os produtos e somando o total de vendas
total_vendas = df.groupby('Produto')['Total_Venda'].sum()
total_vendas

Produto
Produto A    56157.09
Produto B    59552.39
Produto C    62625.58
Produto D    56742.88
Produto E    53471.72
Name: Total_Venda, dtype: float64

### Filtrando as vendas por data

In [ ]:
# Criando um novo dataframe com as vendas de janeiro de 2023
df['Data'] = pd.to_datetime(df['Data'])
df_jan_2023 = df[(df['Data'].dt.year == 2023) & (df['Data'].dt.month == 1)]
df_jan_2023

          Data    Produto  Quantidade  Preco_Unitario  Total_Venda
5   2023-01-10  Produto D          19           32.21       611.99
7   2023-01-22  Produto A          16           23.71       379.36
13  2023-01-13  Produto C          15           63.57       953.55
22  2023-01-26  Produto B          19           32.29       613.51
25  2023-01-10  Produto E          18           39.10       703.80
..         ...        ...         ...             ...          ...
488 2023-01-31  Produto A           9           78.17       703.53
491 2023-01-08  Produto B          16           95.07      1521.12
492 2023-01-22  Produto E          16           31.78       508.48
493 2023-01-09  Produto C          10           32.53       325.30
496 2023-01-01  Produto A           4           43.42       173.68

[166 rows x 5 columns]

### Salvando os resultados

In [ ]:
# DataFrame fitrado com as vendas de janeiro de 2023
df_jan_2023.to_csv('vendas_janeiro.csv')

In [ ]:
# Salvando o total de vendas por produto em um arquivo Excel
total_vendas.to_excel('total_vendas_produto.xlsx')

In [ ]:
# Lendo o arquivo Excel com o total de vendas por produto
plani_total_vendas = pd.read_excel('total_vendas_produto.xlsx')
plani_total_vendas

     Produto  Total_Venda
0  Produto A     56157.09
1  Produto B     59552.39
2  Produto C     62625.58
3  Produto D     56742.88
4  Produto E     53471.72